article img {
  width: 100%;
  border-radius: 2px;
}
article h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  margin: 20px 0;
  border-left: 5px solid;
}
article h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  margin: 18px 0;
  border-left: 5px solid;
}
article h3 {
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  margin: 16px 0;
  border-left: 5px solid;
}
article blockquote {
  word-wrap: break-word;
  background: rgba(148, 108, 230, 0.1);
  padding: 10px;
  margin: 10px 0;
}
