.calendar {
  display: flex;
  justify-content: space-around;

  > span {
    user-select: none;

    &.active {
      cursor: pointer;
      color: #946ce6;
      border-bottom: 4px solid #946ce6;
    }
  }
}

:host ::ng-deep > app-covers {
  .item {
    padding: 0 4px;
    img {
      width: 76px;
      height: 76px;
      border-radius: 50%;
      max-width: 128px;
      max-height: 128px;
      margin: 12px 0 8px 0;
    }
  }
}
